body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --main: hsl(180, 29%, 50%);
  --background: hsl(180, 52%, 96%);
  --filter: hsl(180, 31%, 95%);
  --secondary: hsl(180, 8%, 52%);
  --dark: hsl(180, 14%, 20%);
  --h1: 1rem;
  --h2: 1rem;
  --h3: 0.7rem;
}

.App {
  background-color: var(--background);
  display: grid;
  justify-items: center;
  position: relative;
  width: 100%;
}
.App > header {
  background-color: var(--main);
  height: 156px;
  width: 100vw;
}

.AppWrapper {
  display: grid;
  padding: 3em;
  position: relative;
  width: 60%;
}

.filterBox {
  background: white;
  border-radius: 10px;
  display: flex;
  font-size: 0.8rem;
  font-weight: bold;
  flex-wrap: wrap;
  margin: 1em 0px;
  padding: 0.5rem;
}

.filterBox-ClearButton {
  background: none;
  border: none;
  color: var(--main);
  cursor: pointer;
  font-size: 1.3em;
  font-weight: bolder;
  position: absolute;
  right: 2em;
  transform: translate(-100%, 80%);
}

.filterTag {
  background-color: var(--background);
  color: var(--main);
  display: flex;
  margin: 1em;
}

.filterTag span {
  padding: 0.5em;
}

.filterTag-Button {
  background-color: var(--main);
  border: none;
  color: white;
  cursor: pointer;
  height: 100%;
  transition: all 0.5s ease-in-out;
  width: 2em;
}

.filterTag-Button:hover {
  background-color: var(--dark);
}

.List {
  display: grid;
  justify-items: center;
}

.Card {
  align-items: center;
  background: white;
  border-radius: 10px;
  box-shadow: 2px 2px 5px var(--main);
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 3fr 4fr;
  margin: 20px;
  min-width: 100%;
  padding: 10px;
  position: relative;
  transition: all 0.3s ease-in-out;
  /* z-index: 1; */
}
.Card:hover {
  box-shadow: 0px 0px 0px var(--main);
}

.Card::after {
  /* transition: all 0.5s ease-in-out; */
  background-color: transparent;
  border-radius: 10px 0px 0px 10px;
  content: "";
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0;
  width: 0px;
}

.Card:hover::after {
  background-color: var(--main);
  width: 6px;
}

.CardMainInfo {
  justify-self: left;
  margin: 0 20px;
}

.Card-Header {
  align-items: center;
  display: flex;
}
.Card-Company {
  color: var(--main);
  font-size: var(--h3);
  margin: 0;
}

.headerTag {
  background-color: var(--main);
  border-radius: 40px;
  color: white;
  font-size: 0.6rem;
  font-weight: 700;
  margin: 0 8px;
  padding: 4px;
  text-transform: uppercase;
  width: fit-content;
}

.newTag {
  background-color: var(--main);
}

.featuredTag {
  background-color: var(--dark);
}

.Card-Position {
  color: var(--main);
  cursor: pointer;
  font-size: var(--h2);
}
.Card-Position:hover {
  transform: translateX(2px);
}

.Card-Footer {
  color: var(--secondary);
  font-size: 0.6rem;
  font-weight: 300;
}

.Card-Footer-Apply {
  align-items: center;
  color: green;
  display: flex;
  font-size: 1.3em;
  margin-top: 0.5em;
  padding: 0.3em 0;
  width: fit-content;
}

.Card-tags {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.tag {
  background-color: var(--filter);
  border-radius: 4px;
  color: var(--main);
  cursor: pointer;
  font-size: 0.6rem;
  font-weight: 700;
  margin: 0px 16px 16px 0px;
  padding: 8px;
  width: fit-content;
}

.tag:hover {
  background-color: var(--main);
  color: white;
}

.Modal {
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.5);
  background: transparent;
  display: grid;
  height: 100vh;
  left: 0;
  place-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.ModalWrapper {
  background: var(--background);
  border-radius: 10px;
  border: 1px solid var(--main);
  box-shadow: 5px 5px 5px var(--main);
  max-width: 70%;
  padding: 30px;
}

.Modal .description {
  color: var(--dark);
  font-size: 1rem;
}

.btn {
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bolder;
  margin: 1em 1em 0 0;
  padding: 1em;
}

.btn:hover {
  background: var(--dark);
}

.btn-apply {
  background: var(--main);
}
.btn-apply.disable {
  background: grey;
  cursor: not-allowed;
}

.btn-back {
  background: var(--secondary);
}

@media (max-width: 800px) {
  .AppWrapper {
    width: 100%;
    padding: 3em;
    box-sizing: border-box;
  }

  .Card {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-items: start;
    position: relative;
  }

  .Card-Image {
    position: absolute;
    top: 0;
    transform: translate(50%, -50%);
    width: 40px;
  }

  .CardMainInfo {
    margin: 20px 0;
  }

  .Card-tags {
    justify-content: flex-start;
    width: 100%;
    border-top: 1px solid rgb(230, 230, 230);
    padding-top: 1em;
    box-sizing: border-box;
  }
}
